---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n-deployment
  labels:
    app: n8n
  namespace: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      #initContainers:
       # - name: fix-permissions
        #  image: busybox:1.35
         # command: ["sh","-c","chown -R 1000:1000 /home/node/.n8n"]
          #volumeMounts:
          #- name: n8n-data
           # mountPath: "/home/node/.n8n"
      containers:
        - name: n8n
          image: docker.n8n.io/n8nio/n8n
          resources:
            requests:
              memory: "500Mi"
              cpu: "500m"
            limits:
              memory: "1000Mi"
              cpu: "1"
          ports:
            - containerPort: 5678
          env:
            - name: N8N_HOST
              value: "n8n.nexus-core.dev"
            - name: N8N_EDITOR_BASE_URL
              value: "https://n8n.nexus-core.dev/"
            - name: WEBHOOK_URL
              value: "https://n8n.nexus-core.dev/"
            - name: N8N_PROTOCOL
              value: "https"
          volumeMounts:
            - name: n8n-data
              mountPath: "/home/node/.n8n"
      volumes:
        - name: n8n-data
          persistentVolumeClaim:
            claimName: n8n-data-pvc
